main {
  display: inline-flex !important;
}

.mdl-grid {
  margin: 0;
}

/* rule for route content */
router-outlet + *, .graph, .graph > div {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.graph > div > canvas {
  flex-grow: 1;
}

.steps-input {
  width: 130px;
}

.lang-toggle {
  width: 60px;
}

.mdl-layout__header-row .mdl-selectfield__label {
  color: white !important;
}

.mdl-layout__header-row .mdl-textfield,
.mdl-layout__header-row .mdl-textfield__input {
  font-size: 14px;
}

.mdl-layout__header-row .mdl-textfield__input {
  padding: 2px 0;
}

.mdl-layout__header-row .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-layout__header-row .mdl-textfield--floating-label.is-invalid .mdl-textfield__label,
.mdl-layout__header-row .mdl-textfield__error {
  font-size: 12px;
}

.mdl-layout__header-row .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
  color: white;
}

.mdl-layout__header-row .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
  color: #f00000;
}

.mdl-layout__header-row .mdl-textfield__error {
  color: #f00000;
}

.mdl-layout__tab-style {
  margin: 0;
  border: none;
  padding: 0 24px 0 24px;
  float: left;
  position: relative;
  display: block;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255,255,255, 0.6);
  overflow: hidden; }
@media screen and (max-width: 1024px) {
  .mdl-layout__tab-style {
    padding: 0 12px 0 12px; } }
.mdl-layout--fixed-tabs .mdl-layout__tab-style {
  float: none;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0; }
.mdl-layout.is-upgraded .mdl-layout__tab-style.is-active {
  color: rgb(255,255,255); }
.mdl-layout.is-upgraded .mdl-layout__tab-style.is-active::after {
  height: 2px;
  width: 100%;
  display: block;
  content: " ";
  bottom: 0;
  left: 0;
  position: absolute;
  background: rgb(255,64,129);
  -webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
  animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
  transition: all 1s cubic-bezier(0.4, 0, 1, 1); }
.mdl-layout__tab-style .mdl-layout__tab-style-ripple-container {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden; }
.mdl-layout__tab-style .mdl-layout__tab-style-ripple-container .mdl-ripple {
  background-color: rgb(255,255,255); }
